.nav-button-active, .nav-button-disabled {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 3rem;
    width: 3rem;

    border: 3px solid;
    border-color: var(--text-main);
    border-radius: 999px;

    font-size: 1.5rem;

    @media screen and (max-width: 767px) {
        height: 2.5rem;
        width: 2.5rem;
        font-size: 1.25rem;
    }
}

.nav-button-active {
    cursor: pointer;
}

.nav-button-disabled {
    border-color: var(--text-faded);
}