.text-form {
    display: flex;
    flex: 1;
    width: 100%;
}

.text-area {
    width: 100%;
    background: none;

    padding: 1.5rem;

    border: 3px solid var(--text-main);
    border-radius: 1.5rem;
}