.activity-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 0.75rem;

    flex: 1;
    width: 100%;
}

.selection {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding: 1rem 2rem;
    border-radius: 2rem;

    background: var(--primary-dark);
}

.selection:hover {
    background: var(--primary-main);
    cursor: pointer;
}

.selection.active {
    background: var(--primary-main);
}

.selection input {
    display: none;
}

.selection:has(input:checked) {
    background: var(--primary-main);
}

.button-container {
    display: flex;
    justify-content: end;
    gap: 0.5rem;

    width: 100%;
}

.modal-button {
    padding: 0.5rem 1.5rem;
    border-radius: 99rem;
    font-size: 1rem;
}

.round-button {
    aspect-ratio: 1 / 1;
    height: 2.5rem;
    border-radius: 50%;

    font-size: 1.25rem;
}

.round-button:hover {
    cursor: pointer;
    background: var(--text-main);
    color: var(--primary-main);
}
