.button {
    display: flex;
    gap: 0.75rem;
    align-items: center;

    padding: 0.75rem 1.5rem;
    border-radius: 99rem;
}

.button-active {
    background-color: var(--text-main);
    color: var(--primary-main);
}

.button-disabled {
    border: 3px solid var(--text-faded);
    color: var(--primary-dark);
}