@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');

#root {
    height: 100vh;
    width: 100vw;

    /* COLOR STYLES */
    --night: #0F0F11;
    --cordovan: #8C4843;

    --text-main: #F8F1FF;
    --text-light: #c0bac6;
    --text-faded: #6B6770;

    --primary-light: #81a4ef;
    --primary-main: #2B4270;
    --primary-dark: #212A3C;

    --secondary-light: #e8d9a9;
    --secondary-main: #e6c06b;
    --secondary-dark: #a37d1f;

    --background-light: #232329;

    --hover: #c2bbc6;
}

::placeholder {
    color: var(--text-faded);
    opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12 -18 */
    color: var(--text-faded);
}

h1,h2,h3,h4,h5,h6,p,button,a,label,input,textarea,ul,ol {
    font-weight: 400;
    color: var(--text-main);
    font-family: 'Gabarito', sans-serif;
}

section * {
    padding-bottom: 0.25rem;
}

b {
    font-weight: 600;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-weight: 600;
    font-size: 2.5rem;
}

h3 {
    font-size: 1.5rem;
}

.faded-text {
    font-weight: 400;
    color: var(--text-light);
}

.horizontal-list span:not(:first-child)::before {
    content: ' · ';
}

p,a,button,label,input,textarea,ul,ol {
    font-size: 1.5rem;
}

ol, ul {
    padding-left: 1.5rem;
}

a {
    font-size: 1.125rem;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    color: var(--text-faded);
}

.small-text {
    font-size: 1rem;
}

input {
    background: none;
    border: 2px solid var(--text-main);
    border-radius: 1.5rem;
    padding: 0.25rem 0.75rem;

    font-size: 1.25rem;
}

.bg-container {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
    background-color: var(--night);
}

.body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;

    height: 100%;
    width: 50%;
    padding: 7.5rem 0;
}

.flex-column-container, .flex-column-container-grow {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.flex-column-container-grow {
    flex: 1;

}

.button-primary {
    background-color: var(--text-main);
    color: var(--primary-main);
}

.button-primary:hover {
    cursor: pointer;
    background: var(--primary-main);
    border-color: var(--primary-main);
    color: var(--text-main);
}

.button-secondary:hover {
    cursor: pointer;
    color: var(--text-faded);
}

.back-button {
    display: flex;
    align-items: center;
    align-self: start;
    gap: 0.5rem;
}

.back-button:hover {
    cursor: pointer;
    color: var(--text-faded);
}

.title-container {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.content-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

/* UTILITIES */

/* Font Size */
.fs-16 {
    font-size: 1rem;
}

.fs-18 {
    font-size: 1.125rem;
}

.fs-20 {
    font-size: 1.25rem;
}

/* Padding */

.pd-10 {
    padding: 0 10%;
}

.pd-20 {
    padding: 0 20%;
}