@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');

#root {
    height: 100vh;
    width: 100vw;

    /* COLOR STYLES */
    --night: #0F0F11;
    --cordovan: #8C4843;

    --text-main: #F8F1FF;
    --text-faded: #6B6770;

    --primary-main: #2B4270;
    --primary-dark: #212A3C;

    --hover: #c2bbc6;
}

::placeholder {
    color: var(--text-faded);
    opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12 -18 */
    color: var(--text-faded);
}

h1,h2,h3,h4,h5,h6,p,button,a,label,input,textarea {
    font-weight: 400;
    color: var(--text-main);
    font-family: 'Gabarito', sans-serif;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

p,a,button,label,input,textarea {
    font-size: 1.5rem;
}

input {
    background: none;
    border: 2px solid var(--text-main);
    border-radius: 1.5rem;
    padding: 0.25rem 0.75rem;

    font-size: 1.25rem;
}

.bg-container {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
    background-color: var(--night);
}

.body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;

    height: 100%;
    width: 50%;
    padding: 7.5rem 0;
}

.button-primary {
    background-color: var(--text-main);
    color: var(--primary-main);
}

.button-primary:hover {
    cursor: pointer;
    background: var(--primary-main);
    border-color: var(--primary-main);
    color: var(--text-main);
}

.button-secondary:hover {
    cursor: pointer;
    color: var(--text-faded);
}