@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');

#root {
    height: 100vh;
    width: 100vw;

    /* COLOR STYLES */
    --night: #0F0F11;
    --cordovan: #8C4843;

    --text-main: #F8F1FF;
    --text-faded: #6B6770;

    --primary-main: #2B4270;
    --primary-dark: #212A3C;
}

h1,h2,h3,h4,h5,h6,p,button,a {
    font-weight: 400;
    color: var(--text-main);
    font-family: 'Gabarito', sans-serif;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

p,a,button {

    font-size: 1.5rem;
}

.bg-container {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
    background-color: var(--night);
}

.body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;

    height: 100%;
    width: 50%;
    padding: 7.5rem 0;
}